.container {
    padding: 20px;
  }
  
  .filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .filters div {
    flex-direction: column;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para react-datepicker */
  .react-datepicker-wrapper {
    width: auto;
  }
  
  .react-datepicker__input-container {
    display: flex;
    align-items: center;
  }
  